*~
*.pyc
*.dll
test_.py
vorbis.py
*.opus
pyogg/ogg.py
pyogg/opus.py
pyogg/__init__.py
test.py
*.ogg
pypi/.pypirc
pypi/build/lib/openal/__init__.py
pypi/build/lib/openal/_al.py
pypi/build/lib/openal/_alc.py
pypi/build/lib/pyogg/__init__.py
pypi/build/lib/pyogg/ogg.py
pypi/build/lib/pyogg/opus.py
pypi/dist/PyOpenAL-0.6a1-py2.py3-none-any.whl
pypi/dist/PyOpenAL-0.6a1.tar.gz
pypi/LICENSE.txt
pypi/openal/__init__.py
pypi/openal/_al.py
pypi/openal/_alc.py
pypi/PyOpenAL.egg-info/dependency_links.txt
pypi/PyOpenAL.egg-info/PKG-INFO
pypi/PyOpenAL.egg-info/SOURCES.txt
pypi/PyOpenAL.egg-info/top_level.txt
pypi/README.md
pypi/README.rst
pypi/setup.bat
pypi/setup.cfg
pypi/setup.py
pypi/upload.bat
*.wav
*.whl
*.gz
test 2.py
